{{define "title"}}Home{{end}}

{{define "content"}}

    <h1 class="m-5 text-center">Welcome to Rob's Caseworker!</h1>
    <div class="container">
        <div class="row text-center my-4">
            <div class="col">
                <a class="btn btn-primary" href="/create-constituent">Create constituent</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/constituents">View all constituents</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/view-cases">View all cases</a>
            </div>
        </div>
    </div>

{{end}}

{{ define "script" }}{{end}}